name: Metrics
on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: ghostafbr
          template: classic
          filename: github-metrics.svg
          base: header, activity, repositories
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
